/********************************/
/** ==== CSS GRID: HEADER ==== **/
/********************************/
header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}

#app-name {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-items: center;
}

#location-header {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#location-name {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.search {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: flex-end;
}

/************************************/
/** ==== CSS GRID: SUN & MOON ==== **/
/************************************/
#sun-wrapper,
#moon-wrapper {
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  justify-items: center;
}

#weather-wrapper {
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  justify-items: center;
}

/** WEATHER **/
#weather-header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  justify-content: start; 
}

#weather-title {
  grid-column: 1 /2;
  grid-row: 2 / 3;
}

#weather-icon  {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#weather-desc {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

#evening-title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#evening-icon {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#evening-time {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

#night-title {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
} 

#night-icon {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

#night-time {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

/** SECTION **/
#sun-title,
#moon-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  
}

#sun-img,
#moon-img {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

/** #-RISE **/

#sunrise-title,
#moonrise-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#sunrise-icon,
#moonrise-icon {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#sunrise-time,
#moonrise-time {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/** #-SET **/

#sunset-title,
#moonset-title {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#sunset-icon,
#moonset-icon {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#sunset-time,
#moonset-time {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/** MOON PHASE **/
#moon-phase-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 50px 50px;
  align-items: center;
  justify-items: center;
}

#moon-phase-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#moon-phase-label {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#moon-phase-label {
  align-self: start;
}

#moon-phase-icon-location {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding: 10px 0;
}

/** VISIBILITY **/

#visibility-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  justify-items: center;
}

#sky-header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

#visibility-title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#visibility-label {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#visibility-desc {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#cloudiness-title {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#cloudiness-number {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#cloudiness-desc {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}