
/** Smartphones **/
@media screen and (min-width: 500px) {

  .container-wrapper {
    max-width: 500px;
  }

  #home,
  #forecast,
  #sun-moon,
  #star-map {
    display: none;
  }

  #star-map {
    min-height: 250px;

  }
  #map-div {
    height: 60vh;
  }
}

/** Tablets **/
@media screen and (min-width: 700px) {

  #background-shader {
  /* second color in linear gradient is in #RGBA format*/
    background-image: linear-gradient(#222, #4444);
    height: 97vh;
    width: 1050px;
    margin: 0 auto;
  } 

  .container-wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 42% 58%;
    grid-template-rows: 100px repeat(6, auto);
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 14px;
    text-decoration: underline;
  }

  #tab-buttons {
    display: none;
  }

  .tab-content {
    display: none;
    padding: 15px 10px;
  }

  #home,
  #forecast,
  #sun-moon,
  #star-map {
    display: inline-block;
  }

  #home {
    grid-column: 2 / 3;
    grid-row: 2 / 4; 
  }

  #forecast {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }

  #sun-moon {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
  }

  #star-map {
    grid-column: 2 / 3;
    grid-row: 4 / 7;
  }

  #sun-wrapper {
    margin: 0 0 5px;
  }

  #moon-wrapper,
  #weather-wrapper {
    margin: 10px 0 5px;
  }

  #visibility-wrapper {
    margin: 10px 0 5px;
  }

  #moon-phase-wrapper {
    margin: 10px 0;
  }

  #forecast {
    padding: 25px 12px 5px;
  }

  #sun-moon {
    padding: 0 12px 5px;
  }

  #star-map {
    margin: 10px 0 0 10px; 
  }
  
  #map-div {
    height: 46vh;
  }
}

/** Wider Tablets/Desktop **/
@media screen and (min-width: 800px) {

  h3 {
    font-size: 18px;
    text-decoration: none;
  }
}